# basic github workflow to exercise ply tests
name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      PLY_VALUES: ${{ secrets.PLY_VALUES }}
      FORCE_COLOR: 'true'
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '16.x'
    - run: npm install
    - run: npx ply --version
    - run: npm test
    - name: ply
      uses: ply-ct/ply-action@v1.2.0
      with:
        result-file: test/results/actual/ply-results.json

